@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Scrollbar Styling Start */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-[#5f5f5f];
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#a9a9a9]/70;
  }

  /* Scrollbar Styling End */

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#a9a9a9];
  }

  html,
  body {
    @apply p-0 m-0 text-[14px] leading-6 w-full min-h-[100svh] bg-white text-secondary font-nunito scroll-smooth;
  }

  /* Heading Styles */
  h2 {
    @apply text-2xl w-[fit-content];
  }

  /* .headerChildScroll {
    @apply top-0 bg-transparent text-secondary max-md:bg-secondary max-md:text-primary !important;
  } */

  /* Header Hover Effect */
  /* .headerHover {
    transition: background-color 0.2s cubic-bezier(0.9, 0.98, 0.5, 0.9);
  }
  .headerHover:hover {
    @apply md:bg-secondary md:text-primary !important;
  } */
  /* Header Hover Effect End */

  /* Active effects for the useractions */

  .activeList li {
    @apply md:transition-all md:duration-200 md:ease-in md:opacity-40;
  }

  .activeList li.active {
    @apply opacity-100;
  }

  .activeList li:not(.active):hover {
    @apply md:opacity-100;
  }

  /* Active effects End for the useractions */

  /* Anything Background Shade Start*/

  .bgShade {
    @apply relative;
  }

  .bgShade::before {
    content: "";
    @apply absolute top-0 left-0 h-full w-full bg-primary/40;
  }

  .bgShadeLight {
    @apply relative;
  }

  .bgShadeLight::before {
    content: "";
    @apply absolute top-0 left-0 h-full w-full bg-primary/30;
  }

  /* Anything Background Shade End */

  /* Fade Effects Start */

  .fadeIn {
    animation: fadeIn;
    animation-timing-function: cubic-bezier(0.5, -0.99, 0.1, 1.55);
    animation-duration: 2.2s;
  }

  .fadeOut,
  .fadeOutTransition {
    animation: fadeOut;
    animation-timing-function: cubic-bezier(-0.9, -0.9, 0.1, 0.1);
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  .fadeOutTransition {
    animation-delay: 1s;
  }

  /* Fade Effects End */

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
  }

  /* Hover effects for inline links Light and Dark Modes */
  .linkHoverDark {
    @apply md:relative;
  }

  .linkHoverDark::before {
    content: "";
    @apply duration-300 ease-linear bg-secondary w-full h-[1%] absolute right-0 bottom-0;
  }

  .linkHoverDark:hover::before {
    width: 0%;
  }

  .linkHoverLight {
    @apply relative;
  }

  .linkHoverLight::before {
    content: "";
    @apply duration-300 ease-linear bg-primary w-full h-[1%] absolute right-0 bottom-0;
  }

  .linkHoverLight:hover::before {
    width: 0%;
  }

  /* Hover Effects for the NavLinks and UserActions Components  */

  .linkList li {
    @apply md:transition-all md:duration-200 md:ease-in;
  }

  .linkList:hover li {
    @apply md:opacity-40;
  }

  .linkList li:hover {
    @apply md:opacity-100;
  }

  /* Mobile Underline Offset since the damn linkHoverDark doesn't work on mobile. */
  .linkUnderline {
    @apply max-md:relative max-md:underline max-md:underline-offset-4 decoration-0;
  }

  /* Mobile Nav toggle effects start */

  .navToggle {
    @apply block relative z-10 cursor-pointer;
  }

  .navToggle span {
    @apply relative block w-[22px] h-[1.5px] mb-[0.6rem] z-10;

    transform-origin: 4px 1px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .navToggle span.active:first-child {
    @apply rotate-45;
  }

  .navToggle span.active:last-child {
    @apply -rotate-45;
  }

  .wishListLinks {
    @apply underline decoration-0 underline-offset-2 cursor-pointer;
  }
  /* Mobile Nav toggle effects end */
}
