@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-[#5f5f5f];
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#a9a9a9]/70;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#a9a9a9];
  }

  html,
  body {
    @apply p-0 m-0 text-[14px] leading-6 w-full h-[200vh] bg-black font-nunito scroll-smooth;
  }

  /* Hover Effects for the NavLinks and UserActions Components  */
  .linkList li {
    @apply md:transition-all md:duration-200 md:ease-in;
  }
  .linkList:hover li {
    @apply md:opacity-40;
  }
  .linkList li:hover {
    @apply md:opacity-100;
  }

  /* Header Hover Effect */
  .headerHover {
    transition: background-color 0.2s cubic-bezier(0.9, 0.98, 0.5, 0.9);
  }
  .headerHover:hover {
    @apply md:bg-secondary md:text-primary;
  }
  /* Header Hover Effect End */

  /* Mobile Nav toggle effects */

  .navToggle {
    @apply block relative z-10 cursor-pointer;
  }

  .navToggle span {
    @apply relative block w-[22px] h-[1.5px] mb-[0.6rem] z-10;

    transform-origin: 4px 1px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .navToggle span.active:first-child {
    @apply rotate-45;
  }

  .navToggle span.active:last-child {
    @apply -rotate-45;
  }

  /* Mobile Nav toggle effects end */
}
